{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}


{% block content %}

    <ul>
        <li><a href="{% url 'vue_app_01' %}">Vue App 01</a></li>
        <li><a href="{% url 'vue_app_02' %}">Vue App 02</a></li>
    </ul>

    <hr>

    {% with msg0="The Left Counter" msg1="The Right Counter" %}
        <div id="hello_world_a" style="width: 49%; display: inline-block">
            <hello-world msg="{{ msg0 }}"></hello-world>
        </div>
        <div id="hello_world_b" style="width: 49%; display: inline-block">
            <hello-world msg="{{ msg1 }}"></hello-world>
        </div>
    {% endwith %}
    
    <br />
    <div id="stopwatch">
        <stopwatch></stopwatch>
    </div>

    {% render_bundle 'chunk-moment' %}
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'index' %}

{% endblock %}