{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load lazy_render_bundle from lazy_webpack_loader %}


{% block content %}

    <ul>
        <li><a href="{% url 'vue_app_01' %}">Vue App 01</a></li>
        <li><a href="{% url 'vue_app_02' %}">Vue App 02</a></li>
        <li><a href="{% url 'fully_lazy' %}">Fully lazy loading page</a></li>
    </ul>

    <hr>

    {% with msg0="The Left Counter" msg1="The Right Counter" %}
        <div id="hello_world_a" data-msg="{{ msg0 }}" style="width: 49%; display: inline-block">
            <hello-world></hello-world>
        </div>
        <div id="hello_world_b" data-msg="{{ msg1 }}" style="width: 49%; display: inline-block">
            <hello-world></hello-world>
        </div>
    {% endwith %}
    
    <br />

    <div style="text-align: center; margin-top: 1rem;">
      <input id="button_loader" type="button" value="Load stopwatch">
    </div>

    <div id="stopwatch"
         data-show-countdown="true" data-show-countdown-datatype="Boolean"
         data-countdown="30" data-countdown-datatype="Number"
    >
        <stopwatch></stopwatch>
    </div>

    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'index' %}


    <script>
        let stopwatchBtn = document.getElementById('button_loader');
        stopwatchBtn.addEventListener('click', function (e) {
            stopwatchBtn.style.visibility = "hidden";
            {#  not necessary to render chunk-moment if stopwatch vue component is imported dynamically #}
            {# {% lazy_render_bundle 'chunk-moment' %} #}
            {% lazy_render_bundle 'stopwatch' %}
        });

    </script>

{% endblock %}